.vs
*.suo
*.user
_ReSharper.*
bin
obj
packages
*.exe
Debug/
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
programowanie 2/KarolinaDbaj_kosmetyki/KarolinaDbaj_Kosmetyki/akcesoria1.jpg
assembly/L3_KarolinaDbaj.zip
